<h4>Search component</h4>
<div class="card">
    <div class="card-body">
        <ng-core-record-search [adminMode]="true" currentType="documents" [types]="recordConfig">
        </ng-core-record-search>
    </div>
</div>

<h4 class="mt-5">Alert component</h4>
<div class="row mb-2">
    <div class="col-2">
        <select class="form-control" id="alert-type">
            <option value="success">Success</option>
            <option value="warning">Warning</option>
            <option value="danger">Danger</option>
            <option value="info">Info</option>
        </select>
    </div>
    <div class="col-3">
        <input type="text" class="form-control" id="alert-message" value="Message to display">
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-primary" (click)="addAlert()">Add alert</button>
    </div>
</div>
<ng-core-alert timeout="5000"></ng-core-alert>

<h4 class="mt-5">Dialog component</h4>
<button class="btn btn-primary" (click)="showDialog()">Show modal</button>

<h4 class="mt-5">Search input</h4>
<ng-core-search-input (search)="doSearch($event, searchText)"></ng-core-search-input>

<h4 class="mt-5">API Data</h4>
<p>{{ apiData | json }}</p>

<h4 class="mt-5">Language translation</h4>
<p>Translate "fr" code in french: <strong>{{ testLanguageTranslation }}</strong></p>

<h4 class="mt-5">Nl2br pipe</h4>
<div [innerHTML]="'Multiline
            text'|nl2br"></div>

<h4 class="mt-5">Translate Language pipe</h4>
<p>Translate "fr" code in deutsch: <strong>{{ 'fr' | translateLanguage: 'de' }}</strong></p>
<p>Translate "zzz" code in italian: <strong>{{ 'zzz' | translateLanguage: 'it' }}</strong> (code not available)</p>
<p>Translate "fr" code in not language loaded: <strong>{{ 'fr' | translateLanguage: 'pt' }}</strong> (return initial
    value)</p>