<h5>
    <ng-container *ngIf="detailUrl; else titleWithoutLink">
        <a [routerLink]="detailUrl.link" *ngIf="detailUrl.external === false; else hrefLink">
            {{ record.metadata.title }}
        </a>
        <ng-template #hrefLink>
            <a [href]="detailUrl.link">
                {{ record.metadata.title }}
            </a>
        </ng-template>
    </ng-container>
    <ng-template #titleWithoutLink>
        {{ record.metadata.title }}
    </ng-template>
</h5>
<p>
    <span class="badge badge-primary mr-1" *ngFor="let author of record.metadata.authors">{{ author.name }}</span>
</p>
<div *ngIf="record.metadata.abstracts">{{ record.metadata.abstracts[0].value | truncateText:30 }}</div>