<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (record(); as rec) {
  <h5>
    @if (detailUrl()) {
      @if (detailUrl()?.external) {
        <a [href]="detailUrl()?.link">
          {{ rec.metadata.title[0].mainTitle[0].value }}
        </a>
      } @else {
        <a [routerLink]="detailUrl()?.link">
          {{ rec.metadata.title[0].mainTitle[0].value }}
        </a>
      }
    } @else {
      {{ rec.metadata.title[0].mainTitle[0].value }}
    }
  </h5>
  <p class="ui:flex ui:gap-1">
    @for (type of rec.metadata.type; track type.main_type) {
      <p-tag [value]="type.main_type" />
    }
  </p>
}
