<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->
<p-toast />
<p-confirmDialog />

<div class="ui:p-6 ui:border ui:border-surface ui:rounded-md ui:m-4">
  <div class="ui:flex ui:items-center ui:gap-2 ui:mb-6">
    <div class="ui:flex ui:flex-auto">
      <app-menu />
    </div>
    <div class="ui:flex ui:flex-auto ui:justify-end">
      <app-search-bar class="ui:w-full" viewcode="global" />
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

<ngx-spinner color="#fff" size="medium" type="ball-zig-zag" [fullScreen]="true">
  <p class="ui:text-white" translate>Loading…</p>
</ngx-spinner>
