/*
 * SPDX-FileCopyrightText: Fondation RERO+
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @apply ui:mt-0 ui:mb-2 ui:font-medium;
}

h1,
.h1 {
  @apply ui:text-5xl;
}

h2,
.h2 {
  @apply ui:text-4xl;
}

h3,
.h3 {
  @apply ui:text-3xl;
}

h4,
.h4 {
  @apply ui:text-2xl;
}

h5,
.h5 {
  @apply ui:text-xl;
}

h6,
.h6 {
  @apply ui:text-lg;
}

.text-info {
  color: var(--p-primary-600);
}

.text-success {
  color: var(--p-green-600);
}

.text-warning {
  color: var(--p-yellow-600);
}

.text-error {
  color: var(--p-red-600);
}

.text-link {
  @apply ui:text-primary-500 ui:hover:text-primary-600 ui:hover:underline ui:cursor-pointer;
}

.text-link-secondary {
  @apply ui:hover:text-primary-600 ui:cursor-pointer;
  color: var(--p-text-muted-color);
}
